<form method="POST" style="display: flex; flex-direction: column; gap: 8px; max-width:400px">
    <div class="form-floating">
        <textarea class="form-control" name="title" placeholder="Leave a comment here" 
        id="title_texarea">{{name}}</textarea>
        <label for="title_texarea">Name</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" name="content" placeholder="place a content here" 
        id="content_textarea" style="height: 100px">{{desc}}</textarea>
        <label for="content_textarea">Description</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" name="content" placeholder="place a content here" 
        id="content_textarea" style="height: 100px">{{departure}}</textarea>
        <label for="content_textarea">Departure</label>
    </div>
    <button type="submit">Create</button>
</form>